html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fbe1e9, #e7eff9);
    background-attachment: fixed;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'Nunito', sans-serif;
    color: #2b2e7e;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #131657;
}


.container {
    display:flex;
    flex-direction:column;
    margin-top: 3%;
    background-color: #fff7fa;
    padding: 2%;
    border-radius: 4px;
}

.navbar-light {
    background-color: #eecedb;
}


a {
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
  }

a:hover {
    padding-bottom: .1em;
    border-bottom: 3px solid rgb(187, 158, 159);
  }

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   height: auto;
   color: #7c8dad;
   text-align: center;
   padding-bottom: 1.5em;
   padding-top: 1.5em;
}

.pretty-links{
    color: #6961ed;
}

.pretty-img {
    display: block;
    max-width: 80%;
    height: auto;
    float: right;
  }