html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fbe1e9, #e7eff9);
    background-attachment: fixed;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6, .navbar {
    font-family: 'Nunito', sans-serif;
    color: #2b2e7e;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #131657;
}

.container {
    display:flex;
    flex-direction:column;
    margin-top: 3%;
    background-color: #fff7fa;
    padding: 2%;
    border-radius: 4px;
}

.navbar-light {
    background-color: #eecedb;
}


a:link {
    padding-bottom: .5em;
    border-bottom: 2px solid transparent;
    transition: all .2s ease-in-out;
  }

a:not(.preview-icon):hover, .mainHover:hover {
    padding-bottom: .1em;
    border-bottom: 3px solid rgb(187, 158, 159);
  }

.preview-icon {
    padding-bottom: 0em;
    border-bottom: 0px solid transparent;
}

.preview-icon:hover {
    padding-bottom: 0em;
}

.user-icon{
    padding-right: 0.5em;
    color: #76656c;
}

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   height: auto;
   color: #7c8dad;
   text-align: center;
   padding-bottom: 1.5em;
   padding-top: 1.5em;
}


@keyframes emphasize {
    0% {
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
      transform: scale(1.1);
    }
  } 

.mainIcon {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.mainIcon:hover {
  animation: 2s emphasize infinite alternate;
  cursor: pointer;
}