.pretty-links{
    color: #6961ed;
}

.pretty-img {
    display: block;
    max-width: 90%;
    height: auto;
    float: right;
    opacity: 1.0;
    transition: opacity 0.3s;
  }

.pretty-img:hover{
  opacity: 0.5;
  transition: opacity 0.15s;
}

.pretty-reply{
    margin-top: 0.6em;
    margin-right: 1em;
}
  
.pretty-hover{
  transition: color 0.25s;
}

.pretty-hover:hover{
    color: #A29BFE;
    transition: color 0.15s;
}

.pretty-btn{
  font-family: 'Open Sans', sans-serif;
}

.pretty-btn:hover{
  color: black !important;
  background-color: #ffd6e5 !important;
  transition: color background-color 0.8s;
}

.pretty-placeholder{
  font-family: 'Open Sans', sans-serif !important;
}

.list-group{
  list-style-type: none !important;
}

/* hide the preview description for smaller screens */
@media (max-width: 48em) {
  .hide {
  display: none;
  }
}

