.pretty-links{
    color: #6961ed;
}

.pretty-img {
    display: block;
    max-width: 80%;
    height: auto;
    float: right;
  }

  .pretty-reply{
      margin-top: 0.6em;
      margin-right: 1em;
  }