@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');


.title {
  text-align: center;
  width: auto;
  height: 60px;
}

textarea {
  background-color: transparent;
  border: none;
  color: #5c3305;
  font-family: 'Homemade Apple', cursive;
}

.board {
  display: flex;
  flex-flow: row-wrap;
  flex-wrap: wrap;
  height: auto;
  width: 70%;
  position: relative;
  margin: auto;
  margin-bottom: 3%;
  background-color: #e9d6b9;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px #e8e0d3;
  padding: 25px;
  color: #785737;
}

.timeline {
  height: 8px;
  width: auto;
  position: absolute;
  margin-top: 23%;
  background-color: #695f4d;
  border-radius:20px;
}

.stickynote {
  height: 200px;
  width: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: normal;
  background-color: #f0cdcd;
  padding: 0px;
  margin: 20px;
  border-top: 25px solid rgb(255, 252, 246);
  padding: 20px;
  box-shadow: 0px 5px 5px 0px #82602f;
  transition: transform 0.3s ease-in-out;
}

.stickynote:hover {
  transform: scale(1.1) rotate(-3deg); 
}

.col-sm {
  margin-top: 12%;
}

.add {
  background-color: #e6c9c9;
  font-size: 32px;
  bottom: 47%;
  left: 25%;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.addBlue {
  background-color: #c9dee6;
  font-size: 32px;
  bottom: 47%;
  left: 25%;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.addYellow {
  background-color: #f3d9c4;
  font-size: 32px;
  bottom: 47%;
  left: 25%;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: none;
  position: relative;
  transition: 0.3s ease-in-out;
}

.add:hover, .addBlue:hover, .addYellow:hover {
  animation: 1s emphasize infinite alternate;
  cursor: pointer;
}

.menu {
  width: 40%;
  background-color: rgb(248, 234, 234);
  height: auto;
  margin: auto;
  border-radius: 2%;
  padding: 1%;
}

@keyframes emphasize {
    0% {
    }
    100% {
      transform: scale(1.1);
    }
  } 

::-webkit-scrollbar {
    width: 2px;
}
 
::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgba(25,147,147,0.1);
}
 
::-webkit-scrollbar-thumb {
     border-radius: 5px;
     background-color: rgb(228, 192, 126);
}